In [ ]:
# tuples are similar to lists, but immutable
# basically a immutable list

# CHARACTERSTICS:  ordered, immutable, allows duplicate

In [6]:
t=() # empty tuple
print(t)

t=(2) # int type variable
t=(2,) # tuple
print(t)
print(type(t))

t=(1,2.5,True, [1,2,3]) # heterogeneous tuple
print(t)

t=(1,2,3,4,(5,6))
print(t)

t=tuple("Hello") # type conversion
print(t)

()
(2,)
<class 'tuple'>
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, 4, (5, 6))
('H', 'e', 'l', 'l', 'o')

In [11]:
t=(1,2,3,4,5,(6,7))

# indexing
print(t[0])
print(t[-1])

# slicing
print(t[1:4])
print(t[-1:-4:-1])
print(t[::-1]) # reversed tuple
print(t[-1][0])

1
(6, 7)
(2, 3, 4)
((6, 7), 5, 4)
((6, 7), 5, 4, 3, 2, 1)
6

In [12]:
# adding, editing not possible due to immutability
# we can delete the whole tuple using "del" but not a sub-part of the tuple

t=(1,2,3,4,5)
del t

In [ ]:
t1=(1,2,3,4)
t2=(5,6,7,8)

print(t1+t2)
print(t1*4)
print(4 in t1) # membership operator
for i in t1: print(i,end=' ') # iteration

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
1 2 3 4

In [18]:
t=(1,2,5,2,4)

print(len(t))
print(max(t))
print(min(t))
print(sorted(t))
print(sorted(t,reverse=True))

5
5
1
[1, 2, 2, 4, 5]
[5, 4, 2, 2, 1]

In [ ]:
t=(1,1,1,2,3,4,5)
print(t.count(1)) # frequenct count of element
print(t.index(2)) # returns index of element, error if element is not present, gives first occurrence of element

3

In [ ]:
# tuples are faster than list (immutable)
# tuples take less memory than lists (immutable data type)
# lists has more functions than tuple
# lists has high changes of getting error (error prone = list)
# tuples are used for read-only applications

In [23]:
a,b,c=(1,2,3) # tuple unpacking, LHS should be same to RHS in number
print(a,b,c)

a,b=10,20
print(a,b)
a,b=b,a # swapping
print(a,b)

1 2 3
10 20
20 10

In [ ]:
a,b,*otherElements=(1,2,3,4,5,6,7,8)
print(a)
print(b)
print(otherElements) # list of remaining elements

1
2
[3, 4, 5, 6, 7, 8]

In [28]:
t1=(1,2,3,4,5)
t2=(5,6,7)

print(zip(t1,t2)) # returns a zip object
print(tuple(zip(t1,t2))) # typecasting zip object to a tuple (tuple of tuple)
print(list(zip(t1,t2))) # typecasting zip object to a list (list of tuple)

<zip object at 0x000001CAA6450880>
((1, 5), (2, 6), (3, 7))
[(1, 5), (2, 6), (3, 7)]

In [ ]:
# SET = Unordered collection of elements, mutable, no duplicates, contains only immutable data types 
# union, intersection, setDifference are applied on sets
# set doesn't not contain mutable data types, but itself is mutable
# 2D sets are not possible

In [12]:
s=set() # empty set
print(s)

s={1,2,3,4,4,4} # 1D sets, 2D sets are not possible
print(s)

s={1,2,3,(4,5)} # this is not a 2D set
print(s)

s={1,2,3.14,True} # heterogenous set
print(s) # true is treated as 1, so True is not present in the set

s=set([1,2,3,4,5,5,5]) # type conversion
print(s)

set()
{1, 2, 3, 4}
{3, 1, (4, 5), 2}
{1, 2, 3.14}
{1, 2, 3, 4, 5}

In [15]:
s1={1,3,2}
s2={1,2,3}

print(s1==s2) # True because sets are unordered

True

In [ ]:
# indexing and slicing is not possible because set are unordered
# editing the element is not possible, but can add new elements
s={1,2,3,4}
s.add(5) # adds element at any position (unordered)
print(s)

{1, 2, 3, 4, 5}

In [22]:
# can delete the whole set, but not a single element (no indexing and slicing)
s={1,2,3,4,5}
del s

s={1,2,3,4,5}
s.discard(5) # deletes the specific element
print(s)

s.remove(4) # deletes specific element
print(s)

# discard doesn't throw error when element is not present
# remove throws error when element is not present

s.pop() # deletes any random element
print(s)

s.clear() # deletes all elements from the set
print(s)

{1, 2, 3, 4}
{1, 2, 3}
{2, 3}
set()

In [ ]:
# set operations

s1={1,2,3,4,5}
s2={4,5,6,7,8}

print(s1 | s2) # unuon = all elements
print(s1 & s2) # intersection = common elements
print(s1-s2) # set difference = removing items of s2 from s1, printing remaining items from s1
print(s1^s2) # symmetric difference
print(1 in s1) # membership  
for i in s1: print(i,end=' ') # iteration

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
True
1 2 3 4 5

In [29]:
s={1,2,3,4,5}
print(len(s))
print(min(s))
print(max(s))
print(sorted(s))
print(sorted(s, reverse=True))
print(sum(s)) # sum of all elements of the set

5
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
15

In [ ]:
print(s1.union(s2))

s1.update(s2) # permanant changes in s1
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [35]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

print(s1.intersection(s2))
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5}
{4, 5, 6, 7, 8}

In [36]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

print(s1.difference(s2))
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [38]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

print(s1.symmetric_difference(s2))
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [39]:
s1={1,2,3,4}
s2={3,4,5,6}

print(s1.isdisjoint(s2)) # disjoint set = no common element
print(s1.issubset(s2)) # is s2 a subset of s1
print(s1.issuperset(s2)) # is s2 a superset of s1

False
False
False

In [40]:
s1={1,2,3,4}
s2=s1

print(s1)
print(s2)

print(id(s1))
print(id(s2))

{1, 2, 3, 4}
{1, 2, 3, 4}
2230663466336
2230663466336

In [ ]:
# frozenset = immutable set
s=frozenset([1,2,3,4,5])
print(s)
print(type(s))

# all functions are same as set, editing functions doesn't work, else all works

s=frozenset([1,2,frozenset([3,4])]) # 2D FrozenSet
print(s)

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>
frozenset({frozenset({3, 4}), 1, 2})

In [46]:
# set comprehension

s={i for i in range(1,11) if i%2==0} # even numbers from 1 to 10
print(s)

s={i**2 for i in range(1,11) if i<5}
print(s)

{2, 4, 6, 8, 10}
{16, 1, 4, 9}

In [ ]:
# Dictionary is a collection of key:value pairs
# Also called map or associative arrays
# mutable, no indexing, no duplicate keys, keys can't be mutable items

{'Name': 'Ayush', 'Age': 21}

In [ ]:
d={} # empty dict
print(d)

d={'Name':'Ayush', 'Age':21} # 1D dict
print(d)


d={'Name':'Ayush',
    'Age':21,
    "Marks": 
        {"hindi":12,
         "English": 23}} # 2D dict = JSON Format
print(d)

d={(1,2,3): "Ayush","Name" : "Ankit"} # mixed keys
print(d)

d=dict([(1,2),(3,4),(5,6)])  # dict() takes a list of tuples and converts it to a dictionary
print(d)

# d={[1,2,3]:"Ayush"} # keys can't be mutable (like list)

{}
{'Name': 'Ayush', 'Age': 21}
{'Name': 'Ayush', 'Age': 21, 'Marks': {'hindi': 12, 'English': 23}}
{(1, 2, 3): 'Ayush', 'Name': 'Ankit'}
{1: 2, 3: 4, 5: 6}
{1: 2, 3: 4, 5: 6}

In [71]:

d={'Name':'Ayush', 'Age':21} # 1D dict
print(d)
print(d['Name'])  # fetching value using key
print(d.get('Age')) # fetching value using get()
d['Gender']='Male' # adding now pair in dictionary
print(d)

{'Name': 'Ayush', 'Age': 21}
Ayush
21
{'Name': 'Ayush', 'Age': 21, 'Gender': 'Male'}

In [72]:
print(d)

d.pop('Gender') # deletes pair by giving key
print(d)

d.popitem() # deletes last pair
print(d)

del d['Name'] # deletes pair by giving key
print(d)

d.clear() # removes all pairs from the dictionary
print(d)

{'Name': 'Ayush', 'Age': 21, 'Gender': 'Male'}
{'Name': 'Ayush', 'Age': 21}
{'Name': 'Ayush'}
{}
{}

In [ ]:
d={
    'Name':'Ayush',
    'Age':21,
    "Marks": 
        {
        "hindi":12,
        "English": 23
        }
} 

print(d['Marks']['hindi'])

d['Marks']['Science']=99
print(d['Marks'])

del d['Marks']['Science']
print(d)

d['Marks']['hindi']=89
print(d)

12
{'hindi': 12, 'English': 23, 'Science': 99}
{'Name': 'Ayush', 'Age': 21, 'Marks': {'hindi': 12, 'English': 23}}
{'Name': 'Ayush', 'Age': 21, 'Marks': {'hindi': 89, 'English': 23}}

In [83]:
d={
    'Name':'Ayush',
    'Age':21,
    "Marks": 
        {
        "hindi":12,
        "English": 23
        }
} 

print('Name' in d) # searches for key
print("Marks" in d)

for i in d:
    print(i,d[i])

True
True
Name Ayush
Age 21
Marks {'hindi': 12, 'English': 23}

In [88]:
d={'Name':'Ayush', 'Age':21} 

print(len(d))
print(sorted(d)) # sorting by key
print(max(d)) # ASCII value
print(min(d))
print(sorted(d,reverse=True))

2
['Age', 'Name']
Name
Age
['Name', 'Age']

In [92]:
print(d.items()) # displays dict in list of tuples format
print(d.keys()) # print all the keys
print(d.values()) # prints all values

dict_items([('Name', 'Ayush'), ('Age', 21)])
dict_keys(['Name', 'Age'])
dict_values(['Ayush', 21])

In [93]:
d1={1:2,3:4,5:6}
d2={5:10,6:12}

d1.update(d2) # updates value in d1 by taking values from d2
print(d1)

{1: 2, 3: 4, 5: 10, 6: 12}

In [ ]:
# Dictionary comprehension

d={i:i**2 for i in range(1,11)} # dict with numbers and their squares
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [99]:
distance={"Delhi":1000, "Mumbai":2000, "Pune":3000}
print(distance)

d={key:value/2 for key,value in distance.items()}
print(d)

{'Delhi': 1000, 'Mumbai': 2000, 'Pune': 3000}
{'Delhi': 500.0, 'Mumbai': 1000.0, 'Pune': 1500.0}

In [ ]:
number=[1,2,3,4,5]
day=['Sunday', 'Monday', "Tuesday", "Wednesday", "Thursday"]

d={n:d for n,d in zip(number,day)} # making dict from 2 lists
print(d)

{1: 'Sunday', 2: 'Monday', 3: 'Tuesday', 4: 'Wednesday', 5: 'Thursday'}

In [103]:
products={"Bread":10, "Butter":0, "Jam": 12, "Sauce":0}

available_prod={key:value for key,value in products.items() if value>0}
print(available_prod)

{'Bread': 10, 'Jam': 12}